## content from makestuff
testing
run
Dropbox
shi
mli
legacy
dirnames.mk
*.ld.tex
jekyll.log
makestuff
planning
1M
DataViz
admin
ici3d
staging
projects
park
cygu
Workshops
earn
3SS
outbreak
rabies
Sandbox
1M
DataViz
legacy
rhdir
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
testing
run
Dropbox
shi
mli
legacy
dirnames.mk
*.ld.tex
jekyll.log
makestuff
planning
1M
DataViz
admin
ici3d
staging
projects
park
cygu
Workshops
earn
3SS
outbreak
rabies
Sandbox
1M
DataViz
legacy
rhdir
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
testing
run
Dropbox
shi
mli
legacy
dirnames.mk
*.ld.tex
jekyll.log
makestuff
planning
1M
DataViz
admin
ici3d
staging
projects
park
cygu
Workshops
earn
3SS
outbreak
rabies
Sandbox
1M
DataViz
legacy
rhdir
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
testing
run
Dropbox
shi
mli
legacy
dirnames.mk
*.ld.tex
jekyll.log
makestuff
planning
1M
DataViz
admin
ici3d
staging
projects
park
cygu
Workshops
earn
3SS
outbreak
rabies
Sandbox
1M
DataViz
legacy
rhdir
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame
*.tgz
group
makestuff
*.ld.tex
jekyll.log
.texdeps/
title.pdf
abs.pdf
short.body.pdf
biblio.pdf
asymp.pdf
appendix.pdf
acknowledge.pdf
author.pdf
settings.pdf
title.out
abs.out
short.body.out
biblio.out
asymp.out
appendix.out
acknowledge.out
author.out
settings.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
local.mk
target.mk
make.log
go.log
commit.time
commit.default
up.time
all.time
*.all
pages
.clean_dir
dotdir/
clonedir/
*.oldfile
*.olddiff
*.blame

